stages:
  - tests_cpu
  - tests_gpu

#image used to run code
variables:
  singularity_image: /storage/user/jpata/cupy2.simg
  input_data_cache: /storage/user/jpata/ci_cache

tests_cpu:
  stage: tests_cpu
  script:
    - cp ${input_data_cache}/nanoaod_test.root ./data/nanoaod_test.root
    - HEPACCELERATE_CUDA=0 singularity exec --nv ${singularity_image} python3 setup.py test

#CUDA test is allowed to fail in case the GPUs are actively in use
tests_cuda:
  stage: tests_gpu
  allow_failure: true
  script:
    - cp ${input_data_cache}/nanoaod_test.root ./data/nanoaod_test.root
    - HEPACCELERATE_CUDA=1 CUDA_VISIBLE_DEVICES=`./tests/free_gpu.sh` singularity exec --nv ${singularity_image} python3 setup.py test
